fastapi>=0.115.0
uvicorn[standard]
python-multipart
sqlmodel
psycopg2-binary
python-dotenv
bcrypt
python-jose[cryptography]
pydantic-settings
email-validator
slowapi
alembic
openpyxl
google-auth
httpx
requests
